.card{
    border: none;
    border-radius: 0;
    box-sizing: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    width: 30rem;
    height: 30rem;
    background-color: #303032!important;
}
.carousel-inner{
    padding: 1rem;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title{
    color: white !important;
}
.card-text{
    color: orange !important;
}

@media screen and (min-width: 577px) {
    .card-wrapper{
        display: flex;
    }
    .card{
        margin: 0 0.5em;
        width: calc(100/4);
        background: #000;
        
    }
    .image-wrapper{
        height: 23rem;
        margin: 0;
        /*
        display: flex;
        align-items: center;
        justify-content: center;*/
    }
}
@media screen and (max-width: 576px) {
    .card:not(:first-child){
        display: none;
    }
}
.image-wrapper .card-img-top{
    width: 100%;
    height: 100%;
}

.carousel-caption {
background-color: rgba(0, 0, 0, 0.5);
color: white;
padding: 10px;
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

.carousel-nav {


padding: 10px;
color: white;
}

.carousel-control-prev,
.carousel-control-next {
right: 0;
cursor: pointer;
background-color: #000;
color: black;
border-radius: 50%;
width: 6vh;
height: 6vh;
top: 0;
transform: translateY(-50%);
}
.carousel-control-prev{
    margin-right: 30px;
}
.carousel-control-prev span,
.carousel-control-next span{
    width: 1.5rem;
    height: 1.5rem;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
text-decoration: none;
color: white;
}


.carousel-control-prev:before,
.carousel-control-next:before {
content: "";
}

.carousel-nav-prev:before {
content: "<";
}

.carousel-nav-next:before {
content: ">";
}



