header{
    z-index:9999 !important;
    top:0; 
    margin-top: 0;
    position: fixed;
    
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    cursor: pointer;
    
}